
<div id="wrapper">
<div id="header">
</div>
<div id="bodyleft"> 
<p class="ack"><%= t('acknowledge.ack')  %>  </p>
  <marquee scrollamount="2" direction="up" >
  <p><%= t('acknowledge.cjg')  %></p>   
  <p><%= t('acknowledge.xrt')  %></p>   
  <p><%= t('acknowledge.smallsun')  %></p>   
  <p><%= t('acknowledge.zqx')  %></p>   
  <p><%= t('acknowledge.cyq')  %></p>   
  <p><%= t('acknowledge.wwl')  %></p>   
  <p><%= t('acknowledge.lwr')  %></p>   
  <p><%= t('acknowledge.wzj')  %></p>   
  <p><%= t('acknowledge.google')  %></p>   
  <p><%= t('acknowledge.delta')  %></p>   
  <p><%= t('acknowledge.yh')  %></p>   
  <p><%= t('acknowledge.yzu')  %></p>   
  <p>Money</p>   
  <p>Robin</p>   
  <p>Ruby</p>   
  <p>Hake</p>   
  <p>May Be you are the next</p> 
  </marquee>  


</div>
<div id="bodyright"> 
<p class="ack"><%= t('acknowledge.ack')  %>  </p>
  <marquee scrollamount="2" direction="up" >
  <p><%= t('acknowledge.cjg')  %></p>   
  <p><%= t('acknowledge.xrt')  %></p>   
  <p><%= t('acknowledge.smallsun')  %></p>   
  <p><%= t('acknowledge.zqx')  %></p>   
  <p><%= t('acknowledge.cyq')  %></p>   
  <p><%= t('acknowledge.wwl')  %></p>   
  <p><%= t('acknowledge.lwr')  %></p>   
  <p><%= t('acknowledge.wzj')  %></p>   
  <p><%= t('acknowledge.google')  %></p>   
  <p><%= t('acknowledge.delta')  %></p>   
  <p><%= t('acknowledge.yh')  %></p>   
  <p><%= t('acknowledge.yzu')  %></p>   
  <p>Money</p>   
  <p>Robin</p>   
  <p>Ruby</p>   
  <p>Hake</p>   
  <p>May Be you are the next</p> 
  </marquee>  


</div>

<div id="bodycenter">

<h2><%= t(:signup) %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label t(:email) %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label t(:passwd) %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label t(:password_confirmation) %><br />
  <%= f.password_field :password_confirmation %></p>

 

  <p><%= f.submit t(:agree) %></p>
<% end %>

<p>
歡迎您註冊包租蜂，在您同意我們的服務條款之後，請到您註冊的郵件中收取帳戶啟用郵件，並根據該郵件的提示連回包租蜂以啟用您的帳號，如果您有收不到郵件或無法啟用請使用網路語音客服或來電，包租蜂竭誠為您服務。收到帳戶啟用郵件後請儘速啟用帳號，超過1天，您將需要重新註冊及驗證。啟用成功後您會連回註冊成功通知頁。
</p>


<p><%= label_tag t(:servicerule) %><br />
<div class="Section1" style="layout-grid:18.0pt">
	<table class="MsoNormalTable" border="0" style="border-collapse:collapse">
		<tbody><tr>
			<td valign="top" style="border: 1.0pt solid #AAAAAA; padding: 4.25pt">
			<p>
			<span>包租蜂服務</span><span>
包租蜂服務（以下稱「本服務」）是由「包租蜂網站經營團隊」（以下稱「包租蜂」）所建置及提供之服務，所有使用本服務的使用者（以下稱「會員」），都應詳細閱讀下列約定條款，以下服務約定條款構成會員與包租蜂間之合約，會員完成註冊、或開始使用本服務時，即視為會員已閱讀、暸解、並同意以下所有約定條款的所有內容：

</span><span><br>
			</span>
		</p></td></tr>
				<tr>
			<td valign="top" style="border-left: 1.0pt solid #AAAAAA; border-right: 1.0pt solid #AAAAAA; border-top: medium none; border-bottom: 1.0pt solid #AAAAAA; padding: .6pt">
			<p><b>
			<span>
			一、會員合約 </span></b></p></td>
		</tr>
		<tr>
			<td valign="top" style="border: 1.0pt solid #AAAAAA; padding: 4.25pt">
			<p style="text-indent: -24.0pt; vertical-align: baseline ; margin-left: 36.0pt">
			<span>
			1.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
除本文件所約定之內容外，包租蜂已經公佈及將來可能公佈之使用規範、辦法、處理原則、政策、及相關服務說明等，均為會員合約的一部份；會員除須同意並遵守本文件所約定之內容外，並應同意並遵守該等已經公佈及將來可能公佈之使用規範、辦法、處理原則、政策、及相關服務說明。
			<p style="text-indent: -24.0pt; vertical-align: baseline ; margin-left: 36.0pt">
			<span>
			2.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>包租蜂服務</span><span>
包租蜂得隨時修改會員合約之約定內容，包括修改已經公佈及將來可能公佈之使用規範、辦法、處理原則、政策、及相關服務說明等；修改後之內容，除另有說明者外，自公告時起生效。自生效日起，如會員繼續使用本服務，即視為會員已閱讀、暸解、並同意修改後的所有內容；如會員不同意修改後之內容，包租蜂得終止合約，且不因此而對會員負任何賠償或補償之責任。
                   </span></p></td>
		</tr>
		<tr>
			<td valign="top" style="border-left: 1.0pt solid #AAAAAA; border-right: 1.0pt solid #AAAAAA; border-top: medium none; border-bottom: 1.0pt solid #AAAAAA; padding: .6pt">
			<p><b>
			<span>
			二、會員及註冊</span></b></p></td>
		</tr>
		<tr>
			<td valign="top" style="border-left: 1.0pt solid #AAAAAA; border-right: 1.0pt solid #AAAAAA; border-top: medium none; border-bottom: 1.0pt solid #AAAAAA; padding: .6pt">
			<p style="text-indent: -24.0pt; vertical-align: baseline ; margin-left: 36.0pt">
			<span>
			1.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
會員必須是具備完全行為能力的自然人、或合法登記的法人或團體。若會員為未成年人，應由其法定代理人閱讀、暸解、並同意會員合約之所有約定內容及其修改後之內容，始得開始使用或繼續使用本服務；如會員開始使用或繼續使用本服務，即推定其法定代理人已閱讀、暸解、並同意會員合約之所有約定內容及其修改後之內容。
</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline ; margin-left: 36.0pt">
			<span>
			2.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span s="">
會員應完成註冊程序，包括填寫會員資料、以及提供註冊流程中所要求之相關文件或資料。會員欲使用本服務之所有功能者，並應依本服務當時所訂之方式完成會員認證；以一般會員身份註冊者，應完成email認證，進階會員得經手機確認。
</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			3.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
會員應擔保其所提供的所有資料，均為正確且即時的資料，且不得以第三人之名義註冊為會員；如會員所提供的資料事後有變更，會員應即時更新其資料。如會員未即時提供資料、未按指定方式提供資料、所提供之資料不正確或與事實不符、或未即時更新資料，包租蜂得不經事先通知，隨時拒絕、或暫停對該會員提供本服務之全部或一部。
</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			4.<span>&nbsp;&nbsp;&nbsp;&nbsp;&amp;
			</span></span>
			<span>
會員有自行妥善保管其帳號及密碼之義務，不得提供或透露予第三人保管或使用；對於使用特定帳號及密碼登入本服務系統後之所有行為，推定為該帳號持有人自己之行為。會員如果發現或懷疑其帳號或密碼被第三人冒用或不當使用，
<span><a style="color: blue; text-decoration: underline; text-underline: single" href="http://mybid.ruten.com.tw/cs_reply/cs_inbox.php"><span style="font-family: 新細明體; color: #000099">通知包租蜂網站</span></a></span><span s="" color:="" black"="">」。</span></span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			5.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
包租蜂得限制同一自然人或法人所得申請註冊之會員帳號數量；對於註冊成為會員之申請，包租蜂並保留是否同意其註冊之權利.
</span></p></td>
		</tr>
		<tr>
			<td valign="top" style="border-left: 1.0pt solid #AAAAAA; border-right: 1.0pt solid #AAAAAA; border-top: medium none; border-bottom: 1.0pt solid #AAAAAA; padding: .6pt">
			<p><b>
			<span>
			三、網路交易平台服務：</span></b></p></td>
		</tr>
		<tr>
			<td valign="top" style="border-left: 1.0pt solid #AAAAAA; border-right: 1.0pt solid #AAAAAA; border-top: medium none; border-bottom: 1.0pt solid #AAAAAA; padding: .6pt">
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			1.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			包租蜂網站僅提供網路交易平台服務，供會員自行刊載物件及進行交易。
</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			2.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>包租蜂網站上所刊載之物件、說明內容、及相關訊息，包括所刊載之廣告，均係由會員自行提供、上載、及發布，並由本服務系統自動刊載於網站，包租蜂網站並未事
			先過濾或審查其內容，對於其內容之真實性、合法性、即時性等，不負任何明示或默示之承諾或擔保。但會員所刊載之物件、說明內容、或相關訊息等，如有違反法
			令、違背公序良俗、侵害第三人權益、或違反會員合約之虞之情形，包租蜂拍賣得不經事先通知，直接加以移除、使之無法被存取、或採取其他限制性措施。</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			3.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>經由包租蜂所進行之交易，應由買賣雙方自行負責交易之磋商及履行，對於買家及賣家履行交易之意願及能力、以及其所交易商品或服務之品質、安全性及合法性等，
			包租蜂拍賣不負任何明示或默示之承諾或擔保。若交易雙方對於交易之磋商或履行發生爭議，應由交易雙方自行相互協調、解決爭議。</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			4.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			包租蜂網站認為必要時，得就會員註冊資料、會員所刊載之物件及相關訊息、以及與交易相關之事項等，要求會員就其所涉及之疑義或爭議，及時提出說明及有關資料。</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			5.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			經由包租蜂網站所進行之交易，其因此所發生之所有稅賦、費用及成本，應由交易雙方各自依相關法令之規定或契約之約定負擔及支付。</span></p></td>
		</tr>
		<tr>
			<td valign="top" style="border-left: 1.0pt solid #AAAAAA; border-right: 1.0pt solid #AAAAAA; border-top: medium none; border-bottom: 1.0pt solid #AAAAAA; padding: .6pt">
			<p><b>
			<span>
			四、費用：</span></b></p></td>
		</tr>
		<tr>
			<td valign="top" style="border-left: 1.0pt solid #AAAAAA; border-right: 1.0pt solid #AAAAAA; border-top: medium none; border-bottom: 1.0pt solid #AAAAAA; padding: .6pt">
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			1.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span>
			<span>
			包租蜂視每一個會員皆為經營團隊的一份子，在此承諾日後絕不因任何因素對會員收取費用，網路商家不適用本規範。</span></span></p></td>
		</tr>
		<tr>
			<td valign="top" style="border-left: 1.0pt solid #AAAAAA; border-right: 1.0pt solid #AAAAAA; border-top: medium none; border-bottom: 1.0pt solid #AAAAAA; padding: .6pt">
			<p><b>
			<span>
			五、行為規範：</span></b></p></td>
		</tr>
		<tr>
			<td valign="top" style="border-left: 1.0pt solid #AAAAAA; border-right: 1.0pt solid #AAAAAA; border-top: medium none; border-bottom: 1.0pt solid #AAAAAA; padding: .6pt">
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			1.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			會員使用包租蜂拍賣之相關服務及功能時，應使用自己之會員帳號及密碼登入系統，不得以任何方式轉讓或授權他人使用自己之會員帳號（包括信用評價）。</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			2.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span s="">
			會員如發現其他會員有違反法令、或違反會員合約或相關行為規範之行為，可以</span><span><a style="color: blue; text-decoration: underline; text-underline: single" href="http://mybid.ruten.com.tw/cs_reply/cs_inbox.php"><span style="font-family: 新細明體; color: #000099">向包租蜂網站提出檢舉</span></a></span><span color:="" black"="">。</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			3.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>會員刊載出售物件時，應注意其是否有出售該商品或服務之權利或資格、以及所出售商品或服務之合法性，並應適當說明所刊載物件之交易條件及相關資訊，不得有誇
			大、不實、或引人錯誤或誤信之情形。會員就特定物件出價前，應注意審閱其交易條件及相關資訊，評估賣家履行交易之誠信及能力。物件成交後，交易雙方應即以
			最大誠信履行、並完成交易。</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			4.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			會員不得在交易過程中採取不正當競爭行為（例如假出價）、不得妨害或干擾網站的正常運作（例如駭客行為），亦不得濫發廣告電子郵件。</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			5.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			會員不得有任何操縱交易、虛偽交易、惡意棄標、干擾他人進行交易、或意圖詐欺之行為，且會員在包租蜂拍賣之所有行為及言論，均應遵守法令規定及會員合約之約定。</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span "="">
			6.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			會員不應在包租蜂上惡意毀謗其他會員，或採取不正當手段提高自己的信用評價或降低其他會員的信用評價。</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			7.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			會員不得在包租蜂刊載或發布任何涉及違反法令或公序良俗、或侵害第三人權益、或包租蜂認為不適合在本服務刊載或發布之物件或訊息。具體例示內容詳見「</span><span><a style="color: blue; text-decoration: underline; text-underline: single" href="http://www.ruten.com.tw/system/server_center.htm?00060005"><span style="font-family: 新細明體; color: #000099">法令禁止限制規範項目</span></a></span><span color:="" black"="">」以及「</span><span color:="" black"=""><a style="color: blue; text-decoration: underline; text-underline: single" href="http://www.ruten.com.tw/system/server_center.htm?00060004"><span style="font-family: 新細明體; color: #000099">包租蜂網站政策</span></a></span><span s="" color:="" black"="">」。</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			8.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			對於會員在包租蜂拍賣所刊載或發布的下列各類資訊，包租蜂網站得不經事先通知，直接加以移除、使之無法被存取、或採取其他限制性措施：</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 72.0pt">
			<span>
			a.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			以規避或協助規避應付費用為目的之資訊；</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 72.0pt">
			<span>
			b.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			以炒作或不當提高信用評價為目的之資訊；</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 72.0pt">
			<span>
			c.<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			包租蜂有理由相信已涉及惡意、欺詐、或虛偽內容之資訊；</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 72.0pt">
			<span>
			d.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			包租蜂有理由相信與物件交易無關、或非以物件交易為目的之資訊；</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 72.0pt">
			<span>
			e.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			包租蜂有理由相信已涉及惡意競價、或其他試圖擾亂正常交易秩序之資訊。</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			9.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			會員不因其加入成為包租蜂之會員而取得包租蜂任何智慧財產權之明示或默示之授權，非事先經包租蜂書面同意，會員不得使用、重製、或散布包租蜂上任何形式的著作、資料、商標、或標識。</span></p></td>
		</tr>
		<tr>
			<td valign="top" style="border-left: 1.0pt solid #AAAAAA; border-right: 1.0pt solid #AAAAAA; border-top: medium none; border-bottom: 1.0pt solid #AAAAAA; padding: .6pt">
			<p><b>
			<span>
			六、停權及終止</span></b></p></td>
		</tr>
		<tr>
			<td valign="top" style="border-left: 1.0pt solid #AAAAAA; border-right: 1.0pt solid #AAAAAA; border-top: medium none; border-bottom: 1.0pt solid #AAAAAA; padding: .6pt">
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			1.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>包租蜂拍賣</span><span>發現、或接獲第三人之檢舉或通知，認為會員之行為、交易、或其所刊載之相關物件或訊息，有違背法令或公序良俗、或侵害第三人之權益、或違反會員合
			約或其相關規範或規則之虞者，為維護包租蜂及第三人之權益、或避免損害或爭議擴大，包租蜂得不經事先通知，先行移除所涉及之物件或資料、或使之無法被存
			取，並得暫停該會員所能使用之服務或功能之全部或一部，且得取消其會員資格、終止會員合約；其涉及違反法令者，並得主動將會員資料及相關交易資料或資訊，</span><span>
			移送相關司法機關調查，或依法配合相關司法機關調查。</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			2.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span>
			<span>
			包租蜂得隨時在網站上公告停權的會員名單。</span></span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			3.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			會員違反法令、侵害第三人之權益、或違反會員合約者，對於包租蜂及第三人因此所受之損害，應負賠償責任。</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			4.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			會員因故被停權或取消會員資格者，對於該會員於停權或取消會員資格以前之交易相關行為，依下列原則處理：</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 72.0pt">
			<span>
			a.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			該會員被停權或取消會員資格以前，已經上傳至包租蜂、但尚未成交之物件，包租蜂拍賣得刪除該等物件及其相關資訊；</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 72.0pt">
			<span>
			b.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			該會員被停權或取消會員資格以前，已經對其他會員之物件出價或提出要約、但尚未成交者，包租蜂得刪除該會員之相關出價及要約；</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 72.0pt">
			<span>
			c.<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			該會員被停權或取消會員資格以前，已經與另一會員就具體物件之交易達成合意者，得不刪除該項交易，但包租蜂拍賣得將會員已被停權或取消會員資格之情形，通知會員之交易相對人。</span></p></td>
		</tr>
		<tr>
			<td valign="top" style="border-left: 1.0pt solid #AAAAAA; border-right: 1.0pt solid #AAAAAA; border-top: medium none; border-bottom: 1.0pt solid #AAAAAA; padding: .6pt">
			<p><b>
			<span>
			七、系統維護及服務中斷：</span></b></p></td>
		</tr>
		<tr>
			<td valign="top" style="border-left: 1.0pt solid #AAAAAA; border-right: 1.0pt solid #AAAAAA; border-top: medium none; border-bottom: 1.0pt solid #AAAAAA; padding: .6pt">
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			1.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			包租蜂拍賣將盡力維護本服務系統之正常運作，使會員之交易活動得以順利進行，但本服務僅依其現況提供服務，對於下列事項，包租蜂拍賣不負任何明示或默示之承諾或保證：</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 72.0pt">
			<span>
			a.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			符合會員之特定需求；</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 72.0pt">
			<span>
			b.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			系統及軟體得以不受干擾地持續運作；</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 72.0pt">
			<span>
			c.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			資料得以被即時、正確無誤地傳輸、處理、儲存及備份；</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 72.0pt">
			<span>
			d.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			系統、軟體及資料之錯誤，將被即時發現及更正。</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span l="">
			2.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			本服務系統因進行例行性維護、搬遷、更換、升級、或維修，致本服務暫停或中斷時，包租蜂拍賣將於暫停或中斷前，以電子郵件或公告之方式，告知會員。</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			3.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			本服務因故暫停或中斷時，相關交易之後續處理方式，適用「</span><span "=""><a style="color: blue; text-decoration: underline; text-underline: single" href="http://www.ruten.com.tw/system/server_center.htm?000600010001"><span style="font-family: 新細明體; color: #000099">服務中斷政策</span></a></span><span style="color: black">」之約定。</span></p></td>
		</tr>
		<tr>
			<td valign="top" style="border-left: 1.0pt solid #AAAAAA; border-right: 1.0pt solid #AAAAAA; border-top: medium none; border-bottom: 1.0pt solid #AAAAAA; padding: .6pt">
			<p><b>
			<span>
			八、授權：</span></b></p></td>
		</tr>
		<tr>
			<td valign="top" style="border-left: 1.0pt solid #AAAAAA; border-right: 1.0pt solid #AAAAAA; border-top: medium none; border-bottom: 1.0pt solid #AAAAAA; padding: .6pt">
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			1.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>會員上載、傳送或提供物件資料或其他相關資料至包租蜂時，視為會員已同意授權包租蜂拍賣得利用、儲存及刊載該等資料，以供特定或不特定之使用者搜尋及瀏覽，
			並得經由平面或電子形式，重製、散布、公開播送、公開上映、改作、編輯、公開發行、公開發表、或公開傳輸該等資料，並得將該等權利轉授權予第三人。會員上
			載、傳送或提供物件資料或其他相關資料至包租蜂拍賣時，應擔保其有上載、傳送或提供該等資料之權利，且得授權包租蜂拍賣利用、儲存、刊載、供特定或不特定
			之使用者搜尋及瀏覽、重製、散布、公開播送、公開上映、改作、編輯、公開發行、公開發表、或公開傳輸該等資料，且得將該等權利轉授權予第三人。</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span l="">
			2.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			為維護智慧財產權人之合法權益，會員發現其他會員所刊載或發布之物件或相關訊息，有侵害智慧財產權之情形者，得經由「<u>包租蜂投訴機制</u>」提出檢舉或通知。</span></p></td>
		</tr>
		<tr>
			<td valign="top" style="border-left: 1.0pt solid #AAAAAA; border-right: 1.0pt solid #AAAAAA; border-top: medium none; border-bottom: 1.0pt solid #AAAAAA; padding: .6pt">
			<p><b>
			<span>
			九、責任限制：</span></b></p></td>
		</tr>
		<tr>
			<td valign="top" style="border-left: 1.0pt solid #AAAAAA; border-right: 1.0pt solid #AAAAAA; border-top: medium none; border-bottom: 1.0pt solid #AAAAAA; padding: .6pt">
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			1.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			因下列情形所致之服務暫停或中斷、交易無法進行、資料遺失或毀損、或其他因此所生之所有直接或間接損害，除因包租蜂之故意或重大過失所致者外，包租蜂拍賣不負賠償責任：</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 72.0pt">
			<span>
			a.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			因本服務系統進行例行性維護、搬遷、更換、升級、或維修所致者；</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 72.0pt">
			<span>
			b.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			因備分錯誤或失敗所致之資料遺失或毀損；</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 72.0pt">
			<span>
			c.<span>&nbsp;&nbsp;&nbsp;&nbsp;;
			</span></span>
			<span>
			因第三人之行為、非本公司所得完全控制、或不可歸責於本公司之事由所致者；</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 72.0pt">
			<span>
			d.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			因天災或其他不可抗力所致者；</span></p></td>
		</tr>
		<tr>
			<td valign="top" style="border-left: 1.0pt solid #AAAAAA; border-right: 1.0pt solid #AAAAAA; border-top: medium none; border-bottom: 1.0pt solid #AAAAAA; padding: .6pt">
			<p><b>
			<span>十、準據法及管轄：</span></b></p></td>
		</tr>
		<tr>
			<td valign="top" style="border-left: 1.0pt solid #AAAAAA; border-right: 1.0pt solid #AAAAAA; border-top: medium none; border-bottom: 1.0pt solid #AAAAAA; padding: .6pt">
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			1.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			本會員合約及其相關使用規範、辦法、處理原則、政策、及相關服務說明等，以中華民國法令為準據法。</span></p>
			<p style="text-indent: -24.0pt; vertical-align: baseline; margin-left: 36.0pt">
			<span>
			2.<span>&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span>
			會員與包租蜂網站間因本服務、本會員合約或其相關使用規範、辦法、處理原則、政策、及相關服務說明所生之爭議，如因此而訴訟，以台灣桃園地方法院為第一審管轄法院。</span></p></td>
		</tr>
	</tbody></table>
	<p class=""><span>&nbsp;</span></p></div>


<%= render :partial => "devise/shared/links" %>

</div>

</div>

