<div id="wrapper">
<div id="header">
</div>
<div id="bodyleft"> 
<p class="ack"><%= t('acknowledge.ack')  %>  </p>
  <marquee scrollamount="2" direction="up" >
  <p><%= t('acknowledge.cjg')  %></p>   
  <p><%= t('acknowledge.xrt')  %></p>   
  <p><%= t('acknowledge.smallsun')  %></p>   
  <p><%= t('acknowledge.zqx')  %></p>   
  <p><%= t('acknowledge.cyq')  %></p>   
  <p><%= t('acknowledge.wwl')  %></p>   
  <p><%= t('acknowledge.lwr')  %></p>   
  <p><%= t('acknowledge.wzj')  %></p>   
  <p><%= t('acknowledge.google')  %></p>   
  <p><%= t('acknowledge.delta')  %></p>   
  <p><%= t('acknowledge.yh')  %></p>   
  <p><%= t('acknowledge.yzu')  %></p>   
  <p>Money</p>   
  <p>Robin</p>   
  <p>Ruby</p>   
  <p>Hake</p>   
  <p>May Be you are the next</p> 
  </marquee>  


</div>
<div id="bodyright"> 
<p class="ack"><%= t('acknowledge.ack')  %>  </p>
  <marquee scrollamount="2" direction="up" >
  <p><%= t('acknowledge.cjg')  %></p>   
  <p><%= t('acknowledge.xrt')  %></p>   
  <p><%= t('acknowledge.smallsun')  %></p>   
  <p><%= t('acknowledge.zqx')  %></p>   
  <p><%= t('acknowledge.cyq')  %></p>   
  <p><%= t('acknowledge.wwl')  %></p>   
  <p><%= t('acknowledge.lwr')  %></p>   
  <p><%= t('acknowledge.wzj')  %></p>   
  <p><%= t('acknowledge.google')  %></p>   
  <p><%= t('acknowledge.delta')  %></p>   
  <p><%= t('acknowledge.yh')  %></p>   
  <p><%= t('acknowledge.yzu')  %></p>   
  <p>Money</p>   
  <p>Robin</p>   
  <p>Ruby</p>   
  <p>Hake</p>   
  <p>May Be you are the next</p> 
  </marquee>  


</div>

<div id="bodycenter">

<h2>蜂友好康報你知</h2>

<p>
我們共有兩種會員資格與不同的權限，一種是以電子信箱註冊的基本會員，基本會員可以使用包租蜂提供的查詢、瀏覽、租賃、買賣等功能，但是無法累積或使用蜜蜂點數。
網站推廣期間，只要您註冊成功，即送您會員點數兩點，您可以使用會員點數來租借包租蜂上免費分享的物件。
</p>
<p>
第二種為進階會員，透過帳戶資訊維護登錄後取得蜂友資格，蜂友不但可以使用包租蜂所提供的基本功能外還可以透過分享的概念取得蜜蜂點數，同時可以使用蜜蜂點數來做物品交易。
</p>
<p>
蜜蜂點數是用來讓蜂友彼此之間可以共享物品的設計，每一點蜜蜂點數可以用來跟蜂友免費交易一次，之後一旦您成功的將任一件物品以免費共享的方式成功租出去給別的蜂友，系統在確認後會贈送兩個蜜蜂點數給您，以答謝您做環保的德風義舉，這樣的理念是因為我們希望運用施比受有福的概念來做環保。
推廣期間，包租蜂提供免費代客出租，歡迎來電洽詢。
</p>

</div>

</div>
