
<% if @update.nil?  %>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>尊重的<%= @user.email %> 您好: </h1>
    <p>
      您申請的<%= @product.name %> 已經為您提出交易申請，在對方同意您的申請之前，你可以隨時回到我的帳戶取消此筆交易，但是一旦經過對方的同意交易後，您便不能取消。 </p>
    <p>
      申請交易成功後您會收到系統寄來的交易通知信，這段期間請注意您的信件查收，或上我的帳戶查看及時訊息。
    </p>
     <%= link_to "this product", product_path(@product) %>
   <br />
   <p>  
   順頌敬祺
   </p>
   <p>
    包租蜂網路科技 敬上
   </p>
   <p>
http://www.enjoybee.com
   </p> 
  </body>
</html>
<% else  %>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>尊重的<%= @user.email %> 您好: </h1>
    <p>
      恭喜您申請的<%= @product.name %>, 物件編號: <%= @product.id%>  已經更新。 </p>
    <p>
     物主的信箱: <%= @product.user.email%> . 請迅速與對方聯絡，包租蜂感謝您的支持。
    </p>
     <%= link_to "this product", product_path(@product) %>
   <br />
   <p>  
   順頌敬祺
   </p>
   <p>
    包租蜂網路科技 敬上
   </p>
   <p>
http://www.enjoybee.com
   </p> 
  </body>
</html>


<%end  %>



