<p id="notice"><%= notice %></p>

<p>
  <b>Mail:</b>
  <%= @user.mail %>
</p>

<p>
  <b>Nickname:</b>
  <%= @user.nickname %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Credits:</b>
  <%= @user.credits %>
</p>

<p>
  <b>Maintenance:</b>
  <%= @user.maintenance %>
</p>

<p>
  <b>Status:</b>
  <%= @user.Status %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
