<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @user.id %>
</p>

<p>
  <b>Mail:</b>
  <%= @user.mail %>
</p>

<p>
  <b>Nickname:</b>
  <%= @user.nickname %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Credits:</b>
  <%= @user.credits %>
</p>

<p>
  <b>Passwd:</b>
  <%= @user.passwd %>
</p>

<p>
  <b>Maintanance:</b>
  <%= @user.maintanance %>
</p>

<p>
  <b>Maintancestatus:</b>
  <%= @user.maintanceStatus %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
