<p id="notice"><%= notice %></p>

<p>
  <b>Mail:</b>
  <%= @user.mail %>
</p>

<p>
  <b>Nickname:</b>
  <%= @user.nickname %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Credits:</b>
  <%= @user.credits %>
</p>

<p>
  <b>Maintenance:</b>
  <%= @user.maintenance %>
</p>

<p>
  <b>Status:</b>
  <%= @user.Status %>
</p>

<h2>Products</h2>
<%= render :partial => "products/product",
           :collection => @user.products %>
 
<h2>Comments</h2>
<% @user.tags.each do |tag| %>
  <p>
    <b>Name:</b>
    <%= tag.name %>
    <b>
    <%= link_to 'goto', user_tags_path(@user) %>
    </b>
    <b>
  <%= link_to 'Destroy Tags', [tag.user, tag],
               :confirm => 'Are you sure?',
               :method => :delete %>
    </b>
  </p>
<% end %>

<h2>Add a product:</h2>
<%= render "products/form" %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
