<p id="notice"><%= notice %></p>

<p>
  <b>Mail:</b>
  <%= @user.mail %>
</p>

<p>
  <b>Nickname:</b>
  <%= @user.nickname %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Credits:</b>
  <%= @user.credits %>
</p>

<p>
  <b>Maintenance:</b>
  <%= @user.maintenance %>
</p>

<p>
  <b>Status:</b>
  <%= @user.Status %>
</p>

<h2>Products</h2>
<% @user.products.each do |product| %>
  <p>
    <b>Commenter:</b>
    <%= product.name %>
  </p>
 
  <p>
    <b>Comment:</b>
    <%= product.content %>
  </p>
<% end %>

<h2>Add a product:</h2>
<%= form_for([@user, @user.products.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
