<html>    
    <head>        
        <title>GBEE.home        
        </title>        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />        
        <style type="text/css">
	html,body{height:100%; margin:5; padding:5;}
	img.logo{float:left;height:80px; width:auto}
	img.normal{height:auto; width:auto}
	#layout_products{float:left; background:#FFFFFF; width:auto; height:auto; margin:2px;}
	#layout_foot{float:right; background:#FFFFFF; width:85%; height::auto; margin:2px;}
	#layout_25{background:#FFFFFF; width:auto;margin:5px;border:solid 5px white;}
	.floatstop{clear:both;}
        #layout_right{float:right; background:#00FFFF;text-align:left}
        #products{float:left; margin:10px;margin:10px;display:inline;}
        .layout_top li{ float:left; margin:10px;font:12px;display:inline;}
        .layout_top li a {display:block; padding:8px 50px;background:#3A4953;color:#fff; text-decoration:none;border-right:1px solid #000;text-align:center}
        .layout_top li a:hover {background:#146C9C;color:#fff;text-decoration:none;border-right:1px solid #000;}
        #search {
              position:relative;
	      left: 30%;
	      background: #FFFFFF;
	      padding:2px;
	      font-family:arial;
              width:100%;
	}
        #layout_menu {float:left;}
	</style>
    <script type="text/javascript">
        $(function() {
            $('#menu1').menuTree();

            $('#menu2').menuTree({
                expandSpeed: 1000,
                collapseSpeed: 1000,
                expandEasing: 'easeOutBounce',
                collapseEasing: 'easeOutBounce',
                parentMenuTriggerCallback: false,
                multiOpenedSubMenu: true
            });
            $('#menu3').menuTree({
                expandedNode: '2.1'
            }, function(rel) {
                alert(rel);
            });
        });
    </script>
</head>    
    <body> 
<a id="setHomePage" style="behavior:url(#default#homepage);" onclick="SetHome(this)" href="javascript:void(0);">Top me</a>       
        <div>
	<img class="logo" src="images/logo.jpg" />        
        <ul class="layout_top">
	<li>
        <%= link_to t(:browse_products), products_path  %>
         </li>
       <% if user_signed_in? %>
	<li>
        <%= link_to t(:share_my_goods), new_product_path  %>
         </li>
	<li>
        <%= link_to t(:my_transactions), transactions_path  %>
         </li>
       <% end  %>
         <li>
        <%= link_to t(:register), new_user_registration_path %>
         </li>
         <li>
        <%= link_to t(:login), user_session_path %>
         </li>
	<li>
        <%= link_to t(:blog), root_path %>
         </li>
         <li>
        <%= link_to t(:help), root_path  %>
         </li>
        </ul>
        </div>
        <p class="floatstop"></p>
	<div id="search">            
                <form name="serc" method="get" action="http://www.google.com">                    
                    <input name="searchfrom" value="headbar" type="hidden">                    
                    <input name="k" onKeyDown="if(event.keyCode == 13) document.serc.submit();" width=10 type="text">                    
                    <!-- input type="button" onClick="document.serc.submit();value="Submit" value="search"-->
                    <%= submit_tag t(:search) %>                
                </form>            
        </div> 
        <div id="layout_menu"> 
	<div id="menu1" class="menuTree"> 
	<ul> 
	<li class="parent"><a href="#" mce_href="#">Philosophy</a> 
	<ul>
	<li class="child"><a href="dog" mce_href="dog">dog</a></li> 
	<li class="child"><a href="cat" mce_href="cat">cat</a></li> 
	<li class="child"><a href="duck" mce_href="duck">duck</a></li> 
	</ul> 
        </li> 
	<li class="parent"><a href="#" mce_href="#">Philosophy</a> 
	<ul>
	<li class="child"><a href="dog" mce_href="dog" >dog</a></li> 
	<li class="child"><a href="cat" mce_href="cat">cat</a></li> 
	<li class="child"><a href="duck" mce_href="duck">duck</a></li> 
	</ul> 
        </li> 
	</ul>
        </div>
        </div>
	<div id="layout_products">        
         <p>
	<%= render :template => 'products/index' %>
         </p>
        </div>
        <p class="floatstop"></p>
        <div>        
        <img class="normal"  src="images/GBEE.home_52.jpg" />
	<img class="normal"  src="images/GBEE.home_55.jpg" />
	<img class="normal"  src="images/GBEE.home_57.jpg" />
	<img class="normal"  src="images/GBEE.home_60.jpg" />
        </div>
	<p></p>
         <div>
         <img class="normal"  src="images/GBEE.home_73.jpg" />
         </div>
        <p class="floatstop"> </p>
       <img class="normal"  src="images/GBEE.home_78.jpg" />
       <img class="normal"  src="images/GBEE.home_80.jpg" />
       <div id="layout_foot">
       <img class="normal"  src="images/GBEE.home_83.jpg" />
       <img class="normal"  src="images/GBEE.home_84.jpg" />
       <img class="normal"  src="images/GBEE.home_85.jpg" />
       <img class="normal"  src="images/GBEE.home_86.jpg" />
        </div>
<p class="floatstop"> </p> 
   </body>
    </html>
