<style>
.user_new {float: right;
width:300px;
margin:auto;
margin-top: 20px;
margin-right: 15px;
color: blue;
}
#user_new fieldset{
padding:1px;
}
#user_new legend{
	font-weight:bold;
	font-size:12pt;
}

#user_new label{
	height:20px;
	background-color:transparent;
	color: black;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 0;
	padding-left: 2px;
	width: auto;
}
#user_new input {
margin-right:8px;
border:1px solid #999999;
float:right;
clear:right;
background:#CCCCCC;
}
#user_new input:focus,#user_new input:hover {
border:1px solid #333333;
}
</style>

<div id="wrapper">
  <div id="header">
  <%= link_to image_tag("logo.jpg", :class => "logo"), root_path %>
  <%= render :template => 'devise/sessions/new' %>
  </div>
  <div id="nav">
    <div id="navPyra">
     <ul>
        <li>
        <%= link_to t(:aboutus), aboutus_path  %>
        </li>
        <li>
        <%= link_to t(:browse_products), products_path  %>
        </li>
        <li>
<a href="https://imo.im/">網路語音客服</a>
        </li>
        <li>
        <%= link_to t(:my_transactions), transactions_path  %>
        </li>
        <li>
        <%= link_to t(:share_my_goods), new_product_path  %>
        </li>
       <li>
      <div id="topBar"> 
       <%= form_tag '/products/find_title', :method => 'get' do %>
           <%= text_field 'title','name' , :size => 15 %>
           <%= submit_tag t(:search) %>
         <% end  %> 
      </div>
       </li>
      </ul>
    </div>
  </div>
    <script type="text/javascript">
        $(function() {
            $('#menu1').menuTree({
                expandSpeed: 1000,
                collapseSpeed: 1000,
                parentMenuTriggerCallback: false,
                multiOpenedSubMenu: true,
            });
        });
</script>
  <div id="body">
    <div class="body_p">
      <div id="menu1" class="menuTree">
        <% for @pt in  @product_types %> 
	 <ul> 
	  <li class="parent collapsed"><a href="#" mce_href=""><%= @pt.tname %></a>
	   <ul style="display:none">
           <% for @pc in @pt.product_cataloges %>
	    <li class="child"><%= link_to @pc.tname, products_search_path(:pt => @pt.id, :pc => @pc.id) %>
	   <% end %>
           </ul> 
          </li> 
	 </ul> 
        <% end %>
      </div>
    </div>
  </div> 
  <div id="bodycetner">
      <%= render :template => 'products/index' %>
  </div>
  <div id="bodyright">
  <p class="ack"><%= t('acknowledge.ack')  %>  </p>
  <marquee scrollamount="2" direction="up" >
  <p><%= t('acknowledge.cjg')  %></p>   
  <p><%= t('acknowledge.xrt')  %></p>   
  <p><%= t('acknowledge.smallsun')  %></p>   
  <p><%= t('acknowledge.zqx')  %></p>   
  <p><%= t('acknowledge.cyq')  %></p>   
  <p><%= t('acknowledge.wwl')  %></p>   
  <p><%= t('acknowledge.lwr')  %></p>   
  <p><%= t('acknowledge.wzj')  %></p>   
  <p><%= t('acknowledge.google')  %></p>   
  <p><%= t('acknowledge.delta')  %></p>   
  <p><%= t('acknowledge.yh')  %></p>   
  <p><%= t('acknowledge.yzu')  %></p>   
  <p>Money</p>   
  <p>Robin</p>   
  <p>Ruby</p>   
  <p>Hake</p>   
  <p>May Be you are the next</p> 
  </marquee>  
  </div>
  <div id="footer">
    <div class="footer_p">
      <%= link_to image_tag("facebook_24.png"), root_path %>
     <%= link_to image_tag("rss_24.png"), root_path %>
      <a href="http://www.enjoybee.com/">Copyright 2011 包租蜂網路科技 ALL RIGHTS RESERVED.</a>
      <div class="footer_textL">
        <%= link_to t(:recruit), recruit_index_path %>
        <%= mail_to "happy@enjoybee.com", t(:blog) %>
        <a href="http://www.enjoybee.com/">隱私權聲明|</a>
        <a href="http://www.enjoybee.com/">版權侵犯|</a>
        <%= link_to t(:faq), faq_index_path %>
      </div>
    </div>
  </div>   
</div>

