<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:nickname)%></b>
  <%= @customer.nickname %>
</p>

<p>
  <b><%= t(:phone)%></b>
  <%= @customer.phone %>
</p>

<p>
  <b><%=t(:credit)  %></b>
  <%= @customer.credits %>
</p>

<p>
  <b><%= t(:maintenance)%></b>
  <%= @customer.maintenance %>
</p>

<p>
  <b><%= t(:status)%></b>
  <%= @customer.Status %>
</p>

<p>
  <b><%= t(:user)%></b>
  <%= @customer.user.id %>
</p>


<%= link_to t(:edit), edit_customer_path(@customer) %> |
<%= link_to t(:back), customers_path %>
