<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <fieldset>
  <legend><%= t(:login) %></legend>
  <div>
  <%= f.label t(:email) %>
  <%= f.email_field :email, :size => 16 %>
  </div>
  <div>
  <%= f.label t(:passwd) %>
  <%= f.password_field :password , :size => 16 %>
  </div>
  <% if devise_mapping.rememberable? -%>
  <div>
  <%= f.label t(:rememberme) %>
  <%= f.check_box :remember_me %> 
  </div>
  <% end -%>
  <div class="homehead">
  <%= render :partial => "devise/shared/links" %>
  <%= f.submit t(:signin) , :size => 16 %>
  <div>
  </fieldset>
<% end %>
