<div id="wrapper">
<div id="header">
</div>
<div id="bodyleft"> 
<p class="ack"><%= t('acknowledge.ack')  %>  </p>
  <marquee scrollamount="2" direction="up" >
  <p><%= t('acknowledge.cjg')  %></p>   
  <p><%= t('acknowledge.xrt')  %></p>   
  <p><%= t('acknowledge.smallsun')  %></p>   
  <p><%= t('acknowledge.zqx')  %></p>   
  <p><%= t('acknowledge.cyq')  %></p>   
  <p><%= t('acknowledge.wwl')  %></p>   
  <p><%= t('acknowledge.lwr')  %></p>   
  <p><%= t('acknowledge.wzj')  %></p>   
  <p><%= t('acknowledge.google')  %></p>   
  <p><%= t('acknowledge.delta')  %></p>   
  <p><%= t('acknowledge.yh')  %></p>   
  <p><%= t('acknowledge.yzu')  %></p>   
  <p>Money</p>   
  <p>Robin</p>   
  <p>Ruby</p>   
  <p>Hake</p>   
  <p>May Be you are the next</p> 
  </marquee>  


</div>
<div id="bodyright"> 
<p class="ack"><%= t('acknowledge.ack')  %>  </p>
  <marquee scrollamount="2" direction="up" >
  <p><%= t('acknowledge.cjg')  %></p>   
  <p><%= t('acknowledge.xrt')  %></p>   
  <p><%= t('acknowledge.smallsun')  %></p>   
  <p><%= t('acknowledge.zqx')  %></p>   
  <p><%= t('acknowledge.cyq')  %></p>   
  <p><%= t('acknowledge.wwl')  %></p>   
  <p><%= t('acknowledge.lwr')  %></p>   
  <p><%= t('acknowledge.wzj')  %></p>   
  <p><%= t('acknowledge.google')  %></p>   
  <p><%= t('acknowledge.delta')  %></p>   
  <p><%= t('acknowledge.yh')  %></p>   
  <p><%= t('acknowledge.yzu')  %></p>   
  <p>Money</p>   
  <p>Robin</p>   
  <p>Ruby</p>   
  <p>Hake</p>   
  <p>May Be you are the next</p> 
  </marquee>  


</div>

<div id="bodycenter">

<h2>網路電話線上客服</h2>
<p>
包租蜂提供線上網路電話客服給最重要的您，小蜜蜂也知道設定Skype網路電話很麻煩，所以已經為您設定好會員專用的帳號及密碼。
</p>
<p>
包租蜂會員專用預設帳號為beehelp 密碼為 bee123，請注意都是小寫喔，登入後會發現包租蜂網路客服已經在通訊名單中，通訊品質受限於頻寬，如有延遲的狀況請多包涵，預設帳號及密碼如有更新請上官網查詢，本帳號僅供會員客服使用，請勿移作它用。
</p>
<p>         
在您進入網路語音客服之前，請確定您的麥克風及喇叭已正常開啟。
</p>
<p>
如果您已非常熟悉Skype的操作，可以直接加入我們客服帳號enjoybee0800到您的通訊名單。
</p>
<p>
我們另外提供兩種方式登入Skype語音服務：
</p>
<h3>
1.線上登入:
</h3>
<p>
免安裝的登入法，可是目前只有英文網頁，我們會在以後的日子為您中文化及做好自動登入，進入以下的網址，輸入預設帳號beehelp及密碼bee123，如果您有操作上的問題請參考下方免安裝的網路線上語音操作說明的說明。
</p>
<p>
線上skype:  <a href="https://imo.im/">https://imo.im/</a>
</p>
</p>
<h3>
2.直接下載Skype:
</h3>
<p>
下載後，請安裝於您的電腦，輸入預設帳號beehelp及密碼bee123即可，詳細操作說明請參考安裝說明的連結。
</p>
<p>
安裝說明   <a href="http://skype.pchome.com.tw/teach/step1_install.html">http://skype.pchome.com.tw/teach/step1_install.html</a>
</p>
<p>
下載skype  <a href="http://skype.pchome.com.tw/download.html">http://skype.pchome.com.tw/download.html</a>
</p>

<p><font color="red">
  如果以上設定還是造成您的困擾，請撥03-3361660將有專人為服務，桃園縣市免撥區碼03。
</p>
<p>
免安裝的網路線上語音操作說明：
</p>
<p>
 以下照片引用自https://imo.im/ ，版權歸其所有。
</p>
<p>
1.首先連結到網路語音客服的網頁，出現如下網頁：
</p>
<p>
<%= image_tag("image001.png") %>
</p>
<p>
2.點選skype
</p>
<p>
<%= image_tag("image004.jpg") %>
</p>
<p>
3.輸入預設帳號beehelp、預設密碼bee123，由於您輸入的是包租蜂預設的帳號及密碼，請不用擔心帳號盜用的問題，帳號密碼如有更新請隨時上官網查詢。
</p>
<p>
<%= image_tag("image006.jpg") %>
</p>
<p>
4.請在輸入密碼後，按下電腦的輸入鍵（Enter）。
</p>
<p>
5.登入之後會看見包租蜂網路客服在右邊的通訊名單中，請點選包租蜂網路客服。
</p>
<p>
<%= image_tag("image008.jpg") %>
</p>
<p>
6.滑鼠移到呼叫（call）後點選通話（audio）如下圖所示 .
</p>
<p>
<%= image_tag("image010.jpg") %>
</p>
<p>
7.接下來會詢問是否允許存取您的麥克風及網路攝影機，請勾選允許，如下圖所示。
</p>
<p>
<%= image_tag("image012.jpg") %>
</p>
<p>
8.如果您的麥克風及喇叭沒有問題，在嘟聲後歡迎您使用線上語音客服。
</p>

</div>

</div>
