<p><%= t(:hello)  %> <%= @resource.email %>!</p>

<p><%= t(:reset_passwd)  %></p>

<p><%= link_to t(:smrpi), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t(:ignore)  %></p>
<p><%= t(:remain_pass) %>.</p>
