<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:name) %><br />
    <%= @pd.name %>
  </div>
  <div class="field">
    <%= f.label t(:transtime) %><br />
    <%= f.date_select :trans_stime, :disabled => 'disabled'%>
  </div>
  <div class="field">
    <%= f.label t(:tranetime) %><br />
    <%= f.text_field :trans_etime, :disabled => 'disabled'%>
  </div>
  <div class="field">
    <%= f.label t(:status) %><br />
    <%= f.select :status,[ [t(:borrowing),:borrowing], [t(:confirming), :confirming], [t(:lenting), :lenting], [t(:logistic),:logistic] ] %>
  </div>
  <div class="field">
    <%= f.label t(:borrower) %><br />
    <% for @b in @bc  %>
    <%= f.radio_button :borrow_customer, @b.id %><%= @b.nickname %><br />
    <%= @b.phone  %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label t(:lender) %><br />
    <% for @l in @lc  %>
    <%= f.radio_button :lent_customer, @l.id %><%= @l.nickname %><br />
    <% end  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
