<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br />
    <%= @pd.name %>
  </div>
  <div class="field">
    <%= f.label :trans_stime %><br />
    <%= f.date_select :trans_stime, :disabled => 'disabled'%>
  </div>
  <div class="field">
    <%= f.label :trans_etime %><br />
    <%= f.text_field :trans_etime, :disabled => 'disabled'%>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, [:borrowing, :confirming, :lenting, :logistic] %>
  </div>
  <div class="field">
    <%= f.label :borrow_customer %><br />
    <% for @b in @bc  %>
    <%= f.radio_button :borrow_customer, @b.id %><%= @b.nickname %><br />
    <%= @b.phone  %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :lent_customer %><br />
    <% for @l in @lc  %>
    <%= f.radio_button :lent_customer, @l.id %><%= @l.nickname %><br />
    <% end  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
