<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id, :disabled => 'disabled'%>
  </div>
  <div class="field">
    <%= f.label :trans_stime %><br />
    <%= f.date_select :trans_stime, :disabled => 'disabled'%>
  </div>
  <div class="field">
    <%= f.label :trans_etime %><br />
    <%= f.text_field :trans_etime, :disabled => 'disabled'%>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id, :disabled => 'disabled' %>
  </div>
  <div class="field">
    <%= f.label :borrow_customer %><br />
    <%= f.text_field :borrow_customer, :disabled => 'disabled' %>
  </div>
  <div class="field">
    <%= f.label :lent_customer %><br />
    <%= f.text_field :lent_customer, :disabled => 'disabled' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
