<h1><%= t(:listtrans) %></h1>

<table>
  <tr>
    <th><%= t(:name)%></th>
    <th><%= t(:transtime) %></th>
    <th><%= t(:tranetime) %></th>
    <th><%= t(:status) %></th>
    <th><%= t(:borrower) %></th>
    <th><%= t(:lender) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% if current_user %>
<%= will_paginate %>
<% @transactions.each do |transaction| %>
   <% if transaction.product.user and transaction.user  %>
  <% if (current_user.id == transaction.product.user.id) || (current_user.id == transaction.user.id)  %>
  <tr>
    <td><% @pd = Product.find(transaction.product_id) %>
        <%= link_to @pd.name, product_path(@pd)%>
    </td>
    <td><%= transaction.trans_stime %></td>
    <td><%= transaction.trans_etime %></td>
    <td><%= t(transaction.status) %></td>
    <td>
       <% if transaction.borrow_customer.nil? %>
        <% else %>
      <% @bc = Customer.find(transaction.borrow_customer)  %>
      <%=link_to @bc.nickname, customer_path(@bc) %>
        <% end  %>
    </td>
    <td>
       <% if transaction.lent_customer.nil? %>

       <% else %>
       <% @lc = Customer.find(transaction.lent_customer)  %>
      <%=link_to @lc.nickname, customer_path(@lc) %>
       <% end  %>
    </td>
    <td><%= link_to t(:show), transaction %></td>
    <td><%= link_to t(:edit), edit_transaction_path(transaction) %></td>
     <% if (current_user.email.to_s.match("hakehuang"))  %>
    <td><%= link_to t(:destory), transaction, :confirm => t(:ays), :method => :delete %></td>
     <% end  %>
  </tr>
  <% end %>
  <% end  %>
<% end %>
</table>

<br />

<%= will_paginate %>
<% end  %>
<!-- %= link_to 'New Transaction', new_transaction_path %--->
