<h1><%= link_to t(:listtrans), bindex_path %></h1>

<table>
  <tr>
    <th><%= t(:name)%></th>
    <th><%= t(:transtime) %></th>
    <th><%= t(:tranetime) %></th>
    <th><%= t(:status) %></th>
    <th><%= t(:borrower) %></th>
    <th><%= t(:lender) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= will_paginate_with_i18n @transactions%>
<% @transactions.each do |transaction| %>
    <td>
      <% @pd = Product.find_by_id(transaction.product_id)  %>
      <% if @pd %>
        <%= link_to @pd.name, product_path(@pd)%>
      <% end %>
    </td>
    <td><%= transaction.trans_stime %></td>
    <td><%= transaction.trans_etime %></td>
    <td><%= t(transaction.status) %></td>
    <td>
       <% if transaction.borrow_customer.nil? %>
        <% else %>
           <% if (@bc = Customer.find_by_id(transaction.borrow_customer))  %>
              <%=link_to @bc.nickname, customer_path(@bc) %>
           <% end  %>
        <% end  %>
    </td>
    <td>
       <% if transaction.lent_customer.nil? %>

       <% else %>
          <% if ( @lc = Customer.find_by_id(transaction.lent_customer))  %>
            <%=link_to @lc.nickname, customer_path(@lc) %>
         <% end  %>
       <% end  %>
    </td>
    <td><%= link_to t(:show), transaction %></td>
    <td><%= link_to t(:edit), edit_transaction_path(transaction) %></td>
     <% if (current_user.email.to_s.match("hakehuang"))  %>
    <td><%= link_to t(:destory), transaction, :confirm => t(:ays), :method => :delete %></td>
     <% end  %>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate_with_i18n @transactions%>
<!-- %= link_to 'New Transaction', new_transaction_path %--->
