<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= link_to @pd.name  ,product_path(@transaction.product_id) %>
</p>

<p>
  <b>Trans stime:</b>
  <%= @transaction.trans_stime %>
</p>

<p>
  <b>Trans etime:</b>
  <%= @transaction.trans_etime %>
</p>

<p>
  <b>Status:</b>
  <%= @transaction.status %>
</p>

<p>
  <b>Borrow customer:</b>
  <%= link_to @bc.nickname,customer_path(@bc)  %>
</p>

<p>
  <b>Lent customer:</b>
  <%=link_to  @lc.nickname, customer_path(@lc) %>
</p>


<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
