<p id="notice"><%= notice %></p>

<% if ! @pd.nil?  %>
<p>
  <b><%= t(:name) %></b>
  <%= link_to @pd.name  ,product_path(@transaction.product_id) %>
</p>
<% end %>
<p>
  <b><%= t(:transtime)  %></b>
  <%= @transaction.trans_stime %>
</p>

<p>
  <b><%= t(:tranetime)  %></b>
  <%= @transaction.trans_etime %>
</p>

<p>
  <b><%= t(:status)  %></b>
  <%= t(@transaction.status) %>
</p>

<p>
  <b><%= t(:borrower)  %></b>
   <b><%= @borrow_mail %></b>
<% if ! @bc.nil?  %>
  <%= link_to @bc.nickname,customer_path(@bc)  %>
<% end %>
</p>

<% if ! @lc.nil?  %>
<p>
  <b><%= t(:lender)  %></b>
  <%=link_to  @lc.nickname, customer_path(@lc) %>
</p>

<% end %>

<%= link_to t(:edit), edit_transaction_path(@transaction) %> |
<%= link_to t(:back), transactions_path %>
