<h1><%= t(:editproduct)  %></h1>

<%= render 'form' %>

<% @product.DataFiles.each do |image| %>
 <div> 
 <p>
 <%= image_tag(image.path) %>
  </p>
<p>
  <%= link_to t(:delete), delete_datafile_path(:id => image.id),:confirm => t(:ays),:method => :delete %>
</p>
</div>
<% end %>

<%= link_to t(:addpic),upload_path(:product_id => @product.id) %>

<%= link_to t(:show), @product %> |
<%= link_to t(:back), products_path %>
