<h1>Listing products</h1>
<ul>
<% @products.each do |product| %>
<%= link_to 'go for it', product %>
<div class="flaot_left">
    <table>
    <tr>
    <th>Name</th>
    <th>Content</th>
    <th>Price</th>
    <th>Status</th>
    <th>Rentable Time</th>
    </tr>
    <tr>
    <td><%= product.name %></td>
    <td><%= product.content %></td>
    <td><%= product.price %></td>
    <td><%= product.status %></td>
    <td><%= product.RentablePeriod %></td>
    </tr>
    </table>
</div>
<div>
     <li>
	<% product.DataFiles.each do |image| %>
 		<%= image_tag(image.path) %>
	<% end %>    
    </li>
</div>
<br calss="floatstop"> </br>
<% end %>
</ul>
