<h1>Listing products</h1>
<div class="float_li">
<ul>
<% @products.each do |product| %>
     <li>
	<% product.DataFiles.each do |image| %>
 		<%= image_tag(image.path) %>
	<% end %>    
    	<%= link_to 'go for it', product %>
    <table>
    <tr>
    <th>Name</th>
    <th>Content</th>
    <th>Price</th>
    <th>Status</th>
    <th>Rentable Time</th>
    </tr>
    <tr>
    <td><%= product.name %></td>
    <td><%= product.content %></td>
    <td><%= product.price %></td>
    <td><%= product.status %></td>
    <td><%= product.RentablePeriod %></td>
    </tr>
    </table>
    </li>
<% end %>
</ul>
</div>
