<!--<h1><%= link_to "products", products_path %></h1>-->
<% if request.fullpath != "/" %>
<%= will_paginate %>
<% end %>
<ul>
<% if @home_page  %>
 <!-- p class="floatstop"><div class="float_left_list"><H2><%= t(:hotproduct)  %></H2></div></p--->
   <p class="floatstop"> 
   <div id="hotproduct">
   <% @producs_prompt.each do |product| %>
    <div id="products" class="float_left_list">
	<% product.DataFiles.each do |image| %>
 	<p><%= link_to image_tag(image.path, :size => "64x64"),product %></p>
                <% break %>
	<% end %>    
	<li><%= link_to product.name, product,{:style=>'color:#FF0000;', :class => "css_class"}  %></li> 
        <li><font color="red">$<%= product.price %></font></li>
    </div>
   <% end %>
   </div>
   <p class="floatstop"> 
  <div id="all products">
  <% @product_types.each do |pd|  %>
    <% @products_div[pd.id].each do |product| %>
      <div id="allproducts" class="float_left_list">
	<% product.DataFiles.each do |image| %>
 	<p><%= link_to image_tag(image.path, :size => "64x64"),product %></p>
                <% break %>
	<% end %>    
	<li><%= link_to product.name, product %></li> 
        <li>$<%= product.price %></li>
     </div> 
    <% end %>
   <p class="floatstop"> 
  <% end %>
   </div>
<% else %>
  <% @products.each do |product| %>
    <div id="products" class="float_left_list">
	<% product.DataFiles.each do |image| %>
        <div>
 	<p><%= link_to image_tag(image.path, :size => "64x64"),product %></p>
                <% break %>
	<% end %>    
	<li><%= link_to product.name, product %></li> 
        <li>$<%= product.price %></li>
        <% if request.fullpath != "/" %>
           <% if current_user  %>
           <% if (current_user.id == product.user.id) || (current_user.admin?)  %>
    <li><%= link_to t(:destory), product, :confirm => t(:ays), :method => :delete %></li>
           <% end  %>
           <% end %>
        <% end %>
       </div>
    </div>
  <% end %>
<% end %>
</ul>

<% if request.fullpath != "/" %>
<%= will_paginate %>
<% end  %>
