<!--<h1><%= link_to "products", products_path %></h1>-->
<% if request.fullpath != "/" %>
<%= will_paginate %>
<% end %>
<ul>
<% if @home_page  %>
 <!-- p class="floatstop"><div class="float_left_list"><H2><%= t(:hotproduct)  %></H2></div></p--->
   <div id="hot_product">
   <% @producs_prompt.each do |product| %>
    <div id="products" class="float_left_list">
        <% if product.DataFiles.count > 0  %>
	<% product.DataFiles.each do |image| %>
 	<p><%= link_to image_tag(image.path, :size => "64x64", :class => "mainbook_box_covershaw"),product %></p>
                <% break %>
	<% end %>    
        <% else  %>
 	<p><%= link_to image_tag("rails.png", :size => "64x64"),product %></p>
        <% end  %>
        <font color="red">$<%= product.price %></font><br />
	<span><%= link_to product.name, product,{:style=>'color:#FF0000;', :class => "css_class"}  %></span> 
    </div>
   <% end %>
   </div>
  <div id="all products">
  <% @product_types.each do |pd|  %>
    <% @products_div[pd.id].each do |product| %>
      <div id="allproducts" class="float_left_list">
        <% if product.DataFiles.count > 0  %>
	<% product.DataFiles.each do |image| %>
 	<p><%= link_to image_tag(image.path, :size => "64x64"),product %></p>
                <% break %>
	<% end %>    
        <% else  %>
 	<p><%= link_to image_tag("rails.png", :size => "64x64"),product %></p>
        <% end  %>
        <font color="red">$<%= product.price %></font>
	<span><%= link_to product.name, product %></span> 
     </div> 
    <% end %>
   <p class="floatstop"> 
  <% end %>
   </div>
<% else %>
  <% @products.each do |product| %>
    <div id="products" class="float_left_list">
        <div>
        <% if product.DataFiles.count > 0  %>
	<% @image = product.DataFiles.first %>
 	<p><%= link_to image_tag(@image.path, :size => "64x64"),product %></p>
        <% else  %>
 	<p><%= link_to image_tag("rails.png", :size => "64x64"),product %></p>
        <% end  %>
        <font color="red">$<%= product.price %></font><br />
	<span><%= link_to product.name, product %></span> 
        <% if request.fullpath != "/" %>
           <% if current_user  %>
           <% if (current_user.id == product.user.id) || (current_user.admin?)  %>
    <li><%= link_to t(:destory), product, :confirm => t(:ays), :method => :delete %></li>
           <% end  %>
           <% end %>
        <% end %>
       </div>
    </div>
  <% end %>
<% end %>
</ul>

<% if request.fullpath != "/" %>
   <p class="floatstop"> 
<%= will_paginate %>
<% end  %>
