<p id="notice"><%= notice %></p>

<div class="float_left">
<p>
  <b><%= t(:name) %></b>
  <%= @product.name %>
</p>

<p>
  <b><%= t(:title)  %></b>
  <%= @product.title %>
</p>

<p>
  <%= text_area_tag t(:content), @product.content, :disabled => true %>
</p>

<p>
  <b><%= t(:status) %></b>
  <%= t(@product.status) %>
  <!--%= t(@status[@product.status.to_i - 1][0]) %-->
</p>

<p>
  <b><%= t(:price)  %></b>
  <%= @product.price %>
</p>

<p>
  <b><%= t(:types) %></b>
  <%= t(@cata_level1_name)  %>
</p>

<p>
  <b><%= t(:cataloges)  %></b>
  <%= t(@cata_level2_name)  %>
</p>

<p>
  <b><%= t(:sharemode) %></b>
  <%= t(@product.sharemode) %>
</p>

<%= link_to t(:edit), edit_product_path(@product) %> |
<%= link_to t(:back), products_path %>
<%= form_tag (:action => "borrow") do %>
<%= hidden_field  "product", "id", :value => @product.id %>
<%= submit_tag t(:getme) %>
<% end %>
</div>

<div>
<% @product.DataFiles.each do |image| %>
 <%= image_tag(image.path, :size => "64x64", :alt =>"missing pic" ) %>
<% end %>
</div>

