<p id="notice"><%= notice %></p>

<div class="float_left">
<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Title:</b>
  <%= @product.title %>
</p>

<p>
  <b>Content:</b>
  <%= @product.content %>
</p>

<p>
  <b>Status:</b>
  <%= @product.status %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Rentableperiod:</b>
  <%= @product.RentablePeriod %>
</p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<%= form_tag (:action => "borrow") do %>
<%= hidden_field  "product", "id", :value => @product.id %>
<input type="submit" value="Borrow me" />
<% end %>
</div>

<div>
<% @product.DataFiles.each do |image| %>
 <%= image_tag(image.path) %>
<% end %>
</div>

